
input{
    all: unset;
    padding: 15px;
    border-radius: 40px;
    border: 2px solid transparent;
    box-shadow: 5px 7px 7px 7px
    rgba(30, 20, 70, 089);
    transition: border .3s ease-in-out;
    color: rgb(217, 186, 247);
}
input:focus{
    border-color: blueviolet;
}
body{
    text-align: center;
    background-image: url('Screenshot_22-11-2025_2647_logincdn.msftauth.net.jpeg');
}
 button{
    border-color: darkred;
 }
    
    

input::placeholder{
    font-size: ;
}
button{
        all: unset;
    padding: 20px;
    border-radius: 100px;
    border: 4px solid transparent;
    box-shadow: 0px 2px 2px 2px
    rgba(0, 0, 0, 088);
    transition: border .3s ease-in-out;
    box-shadow: 5px 7px 7px 7px
    rgba(30, 20, 70, 089);


}
button:focus{
    border-color: blueviolet;
}
input{
    display: block;
    margin: 0 auto;
}
button{

}
.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;      /* Prevent distortion */
    z-index: -1;            /* Send behind content */
}

/* Content styles */
.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    margin-top: 20%;
    font-family: Arial, sans-serif;
}
