
input{
    all: unset;
    padding: 15px;
    border-radius: 40px;
    border: 2px solid transparent;
    box-shadow: 5px 7px 7px 7px
    rgba(30, 20, 70, 089);
    transition: border .3s ease-in-out;
    color: rgb(244, 247, 247);
}
input:focus{
    border-color: blueviolet;
}
     body{
            display: block;
            margin: 0 auto;
             
    width: 400px;
    height: 500px;
    
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0, 75);
    background-size: cover;
    background-position: center;
    overflow: hidden;
        }
           form{

            display: block;
            
            box-sizing: border-box;
            padding: 40px;
            width: 100%;
            height: 150%;
            backdrop-filter: brightness( 50%);
            flex-direction: column;
            display: flex;
            gap: 5px;
            color: rgb(54, 54, 54);

        }
           body{
            text-align: center;
            background-image: url(Screenshot_22-11-2025_2647_logincdn.msftauth.net.jpeg);
            
           
         
        }
        h1{
            color: rgb(104, 3, 198);
        }
        h3{
            color: rgb(228, 227, 228);
        }
        button{
        all: unset;
    padding: 20px;
    border-radius: 100px;
    border: 4px solid transparent;
    box-shadow: 0px 2px 2px 2px
    rgba(0, 0, 0, 088);
    transition: border .3s ease-in-out;
    box-shadow: 5px 7px 7px 7px
    rgba(30, 20, 70, 089);


}
button:focus{
    border-color: rgb(244, 247, 247);
}
label{
    color: rgb(244, 247, 247);
}